<template>

  <main class="floor-outer">
    <main class="floor-mobile" v-if="mobile && !onboard">
      <h4 style="padding-top:10px;">{{floor.name}} | <span style="color:steelblue">{{floor.rooms.length}} Room{{floor.rooms.length === 1 ? '' : 's'}}</span></h4>
      <section class="mobile-floor-rooms">
        <div v-for="(room, index) in floor.rooms" :class="assessRoomAlerts(room)" @click="navRoom(room)">
          <p>{{room.hvacName}}</p>
        </div>
        <div class="mobile-floor-room" style="background-color:#797d7f;display:flex;flex-direction:column;justify-content:center;align-items:center;" @click="onboard = true">
          <p style="margin:0;">Add room</p>
          <h1 style="margin:0;">+</h1>
        </div>
      </section>
    </main>
    <web-floor-component v-if="!mobile && !onboard" :floor="floor" :bName="bName" :bId="bId" :tkn="tkn" v-on:initWebNav="navRoom($event)" v-on:initOnboardRoom="onboard = true;" v-on:resetWeb="resetWebView()"></web-floor-component>
    <onboard-component v-if="onboard && tkn !== undefined" :newFloor="false" :floorIndex="floor.index" :tkn="tkn" :floorName="floor.name" :bId="bId" v-on:finOnboard="closeOnboard($event)"></onboard-component>

  </main>

</template>

<script>

import Onboard from '@/components/onboard/room';
import WebFloor from '@/components/floor/WebFloor';

import Rest from '@/src/rest';
import Bundle from '@/src/bundle';

export default {
  data(){
    return {
      screenSize: -1,
      mobile: false,
      floor: {},
      tkn: '',
      name: '',
      rooms: [],
      onboard: false,
      bName: '',
      bId: '',
      onboard: false
    }
  },
  components:{
    'onboard-component': Onboard,
    'web-floor-component': WebFloor
  },
  methods: {
    assessRoomAlerts(r){

      if (!r.rdgs || !r.alerts || Object.keys(r.rdgs).map(r=>r).every(noProp)){
        return 'mobile-floor-room inactive-mfr';
      } else {
        if (r.overallAlerts.crit > 0) {
          return 'mobile-floor-room crit-mfr';
        } else if (r.overallAlerts.bad > 0) {
          return 'mobile-floor-room bad-mfr';
        } else {
          return 'mobile-floor-room good-mfr';
        }
      }

      function noProp(prop){
        return r.rdgs[prop] === '-';
      }
    },
    navRoom(r){
      this.$emit('updateNav', {type: 'room', room: r});
      this.$router.push({
        name: this.mobile ? 'Room' : 'WebRoom',
        params: {
          tkn: this.tkn || null,
          room: r,
          bName: this.bName,
          bId: this.bId
        }
      });
    },
    closeOnboard(event){
      if (event && event === true) {
        this.onboard = false;
        this.initReload();
      } else {
        this.onboard = false;
      }
    },
    resetWebView(){
      this.mobile = true;
      this.screenSize = window.innerWidth;
      this.mobile = this.screenSize <= 500
        ? true
        : false;
    },
    initReload(){
      Rest.getOrgBundle(this.$cookies.get('breeziProTkn'))
        .then(bundle => {
          bundle = bundle.data;
          bundle = Bundle.formatBundle(bundle);
          let bldg = bundle.buildings.buildings.find(b => b.id === this.$cookies.get('breeziBldg'));
          let floor = bldg.floors.find(f => f.name == this.$cookies.get('breeziFloor'));
          this.floor = floor;
          this.tkn = this.$cookies.get('breeziProTkn');
          this.bName = bldg.name;
          this.bId = bldg.id;
          const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle';
          let headers = {
            headers: {
              Authorization: this.$cookies.get('breeziProTkn'),
              'Content-Type': 'application/json'
            }
          };
          Rest.getTeam(headers)
            .then(team => {
              this.$emit('updateNav', {type: 'floor', bldg: bldg, bundle: bundle, floor: floor, team: team});
              if (window.innerWidth >= 500) {
                this.mobile = false;
              } else {
                this.mobile = true;
              }
            });
        });
    }
  },
  mounted(){

    try {
      this.floor = this.$route.params.floor;
      this.tkn = this.$route.params.tkn;
      this.bName = this.$route.params.bName;
      this.bId = this.$route.params.bId;
      this.$cookies.set('breeziNavStep', 'floor');
      this.$cookies.set('breeziFloor', this.floor.name);
      this.$emit('updateNav', {type: 'floor', floor: this.floor});
      this.screenSize = window.innerWidth;
      this.mobile = this.screenSize <= 500
        ? true
        : false;
    } catch(err) {
      try {
        this.initReload();
      } catch(err) {
        alert('Your session has expired. Please log in again');
        this.$emit('expiredOrInvalid');
      }
    }

  },
  watch: {
    floor: (newData, oldDta) => {
      this.floor = newData;
      this.mobile = true;
      this.screenSize = window.innerWidth;
      this.mobile = this.screenSize <= 500
        ? true
        : false;
    }
  }
}

</script>

<style>

.floor-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: hidden;
}

.floor-mobile {
  width: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
}

.mobile-floor-rooms {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  padding-top: 20px;
  border-top: 2px solid rgb(0, 153, 191);
  margin-top: 20px;
  overflow-y: scroll;
}

.mobile-floor-room {
  width: 106px;
  height: 106px;
  background-color: gray;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 2px;
  overflow: hidden;
}

.inactive-mfr {
  background-color: #0099bf;
  /* background: linear-gradient(to bottom, #0099bf, #0d6e8a); */
}

.crit-mfr {
  background-color: #bb2437;
  /* background: linear-gradient(to bottom, #bb2437, #981f2e); */
}

.bad-mfr {
  background-color: #b1ab37;
  /* background: linear-gradient(to bottom, #d9e000, #a1903e); */
}

.good-mfr {
  background-color: #73c269;
  /* background: linear-gradient(to bottom, #73c269, #416d3e); */
}

</style>
