<template>
<main class="bub-outer">
  <header class="bub-header">
    <div v-for="(img, index) in headerItems" :class="roomScene(index)" @click="flip(index)">
      <img :src="img.img" />
      <h4 v-if="floorIndex === index">{{img.label}}</h4>
    </div>
    <div class="org-scene" style="display:flex;flex-direction:column;justify-content:space-between;align-items:center;height:90%;">
      <div class="sub-panel room-sub">
        <div class="add-web" @click="initNewRoom()" @mouseover="addHover = true" @mouseleave="addHover = false"><h1>+</h1></div>
        <h6 v-if="addHover">ADD NEW<br /> ROOM</h6>
      </div>
      <div class="sub-panel room-sub" style="top:65px;">
        <div class="add-web" style="padding:4px;" @click="togCards()" @mouseover="cardHover = true" @mouseleave="cardHover = false">
          <img v-if="!cards" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/multicard.png"/>
          <img v-if="cards" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/bubz.png"/>
        </div>
        <h6 v-show="cardHover && !cards">CARD <br /> VIEW</h6>
        <h6 v-show="cardHover && cards">FRACTAL <br /> VIEW</h6>
      </div>
    </div>
  </header>
  <div class="bub-body" id="bub-chart" v-show="!cards"></div>
  <div class="bub-body" style="overflow-y:scroll;height:75%;justify-content:flex-start;align-items:flex-start;flex-flow:row wrap;padding:1%;padding-left:3%;padding-right:3%;" v-if="cards">
    <room-component style="min-width:300px;max-width:300px;min-height:450px;max-height:450px;" v-for="(room, index) in floor.rooms" :fName="floor.name" :fRoom="floor.rooms[index]" :multi="true" :fTkn="tkn" :fBName="bName" :fBId="bId"></room-component>
  </div>
</main>

</template>

<script>

import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
More(Highcharts);

import Room from '@/components/room/Room';

import Bundle from '@/src/bundle';

export default {
  data(){
    return {
      bubbleSeries: {days: [], ttp: [], hhm: [], iaq: [], co2: []},
      rdgs: '',
      floorIndex: 0,
      clickedOrMoused: '',
      addHover: false,
      cardHover: false,
      cards: false,
      flippedState:[],
      flipped: -1,
      flipSide: 'center',
      headerItems: [
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/filterOfficial.png',
          label: 'Filter condition',
          val: 'days'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/temp.png',
          label: 'Temperature',
          val: 'ttp'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hum.png',
          label: 'Humidity',
          val: 'hhm'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvoc.png',
          label: '',
          val: 'iaq'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/eCO2Text.png',
          label: '',
          val: 'co2'
        }
      ]
    }
  },
  props: ['floor', 'bName', 'bId', 'tkn'],
  components: {
    'room-component': Room
  },
  methods: {
    flip(i){
      this.floorIndex = i;
      this.popBubbles(this.headerItems[i].val)
    },
    orgFlip(i){
      let fClass = this.floorIndex === i
        ? 'org-card org-is-flipped'
        : 'org-card';
    },
    calcLeave(i){
      if (this.clickedOrMoused === 'mouse') {
        this.floorIndex = -1;
      }
    },
    popBubbles(val){
      let term;
      switch (val) {
        case 'days':
          term = 'd';
        break;
        case 'ttp':
          term = '˚C'
        break;
        case 'hhm':
          term = '%'
        break;
        case 'iaq':
          term = ''
        break;
        case 'co2':
          term = 'ppm';
        break;
      }
      let bubData;
      if (this.floor.rooms) {
        bubData = this.floor.rooms.map(r => {
          let roomBub = {
            name: r.hvacName,
            data: [{
              name: r.hvacName,
              term: term,
              value: r.rdgs[val],
              forEvent: this.floor.rooms.find(x => x.id === r.id)
            }]
          }
          if (roomBub.data[0].value === '-') {
            roomBub.data[0].value = 0;
          }
          return roomBub;
        });
        let self = this;
        bubData.forEach(b => {
          if (b.name.split(' ').length > 2) {
            b.name = b.name.split(' ');
            b.name[2] = '<br/>';
            b.name = b.name.join(' ');
          }
        });
        var bubChart = {
        chart: {
          type: 'packedbubble',
          height: '50%',
          backgroundColor: 'none',
        },
        title: 'Buildings',
        tooltip: {
          useHTML: true,
          pointFormat: '<b>{point.name}:</b> {point.value}{point.term}'
        },
        legend: false,
        plotOptions: {
          series: {
            cursor: 'pointer',
            point: {
              events: {
                click(){
                  self.toRoom(this.forEvent)
                }
              }
            }
          },
            packedbubble: {
                minSize: '20%',
                maxSize: '80%',
                zMax: 600,
                layoutAlgorithm: {
                    splitSeries: false,
                    gravitationalConstant: 0.08,
                    bubblePadding: 4,
                    friction: 0.1
                },
                dataLabels: {
                  useHTML: true,
                  enabled: true,
                  format: `<span style="font-size:1.6em;">{point.value}{point.term}</span>`,
                  align: 'center',
                  style: {
                      color: 'lightblue',
                      textOutline: 'black',
                      fontWeight: 'normal',
                      fontSize: '10px'

                  }
              }
            }
        },
        credits: false,
        series: bubData
      };
      this.target = Highcharts.chart('bub-chart', bubChart);
      } else {

      }
    },
    toRoom(e){
      this.$emit('initWebNav', e);
      this.$router.push({
        name: 'WebRoom',
        params: {
          tkn: this.tkn,
          room: e,
          bName: this.bName,
          bId: this.bId,
          fName: this.floor.name
        }
      })
    },
    initNewRoom(){
      this.$emit('initOnboardRoom');
    },
    togCards(){
      this.cards = this.cards === false
        ? true
        : false;
    },
    flipper(i){
      if (i === this.flipped) {
        return 'card';
      } else {
        return 'card is-flipped';
      }
    },
    roomScene(i){
      if (i === this.floorIndex) {
        return 'room-scene active-scene';
      } else {
        return 'room-scene';
      }
    }

  },
  mounted(){
    this.popBubbles('days');
    this.roomIndex = 0;
  },
  watch: {
    floor: function(newData, oldData){
      this.popBubbles('days');
    }
  }
}

</script>

<style>

.bub-outer {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 153, 191, 0.15);
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
}

.bub-header {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 153, 191, 0.15);
}

.bub-body {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-scene {
  height: 90%;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 153, 191);
  border-radius: 3px;
  margin: 8px;
  cursor: pointer;
}

.room-scene img {
  height: 40%;
}

.active-scene {
  background-color: rgb(0, 153, 191);
}

</style>
