<template>

  <main class="bub-outer">
    <header class="bub-header" v-if="!onboard">
      <div v-for="(img, index) in headerItems" class="org-scene" @click="flip(index, 'click')">
        <div :class="orgFlip(index)">
          <div class="card__face org-card face-front">
            <img v-if="orgIndex !== index" :src="img.img" />
          </div>
          <img v-if="orgIndex === index" class="flip-img" :src="img.img" />
          <h4 v-if="orgIndex === index" style="transform:rotateX(180deg);">{{img.label}}</h4>
        </div>
      </div>
      <div class="org-scene">
        <div class="sub-panel" v-if="!onboard">
          <div class="add-web" @click="initNewBldg()" @mouseover="addHover = true" @mouseleave="addHover = false"><h1>+</h1></div>
          <h6 v-if="addHover">ADD NEW<br /> BUILDING</h6>
        </div>
      </div>
    </header>
    <div class="bub-body" id="bub-chart" v-if="!onboard"></div>
    <new-bldg-component v-if="onboard" :tkn="tkn" v-on:resetOrg="initNewBldg($event)"></new-bldg-component>
  </main>

</template>

<script>

import convert from 'convert-units';
import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
import New from '@/components/onboard/Building';
More(Highcharts);

import Rest from '@/src/rest';
import Bundle from '@/src/bundle';

export default {
  data(){
    return {
      bundle: {},
      bldgs: [],
      tkn: '',
      onboard: false,
      orgIndex: 0,
      clickedOrMoused: '',
      addHover: false,
      cardHover: false,
      headerItems: [
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/filterOfficial.png',
          label: 'Filter condition',
          val: 'days'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/temp.png',
          label: 'Temperature',
          val: 'ttp'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hum.png',
          label: 'Humidity',
          val: 'hhm'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvocNoText.png',
          label: 'tVOC',
          val: 'iaq'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/eCO2.png',
          label: 'CO2',
          val: 'co2'
        }
      ],
      units: ''
    }
  },

  components: {
    'new-bldg-component': New
  },

  methods: {

    flip(i, cOM){
      this.clickedOrMoused = cOM;
      this.orgIndex = i;
      this.popBubbles(this.headerItems[i].val)
    },
    orgFlip(i){
      return this.orgIndex === i
        ? 'org-card org-is-flipped'
        : 'org-card';
    },
    calcLeave(i){
      if (this.clickedOrMoused === 'mouse') {
        this.orgIndex = -1;
      }
    },
    popBubbles(val){
      let term;
      switch (val) {
        case 'days':
          term = 'days';
        break;
        case 'ttp':
          term = this.units === 'metric' ? '˚C' : '˚F';
        break;
        case 'hhm':
          term = '%';
        break;
        case 'iaq':
          term = '';
        break;
        case 'co2':
          term = 'PPM';
        break;
      }
      let bubData;
      if (this.buildings.buildings) {
        bubData = this.buildings.buildings.map(b => {
          if (this.units === 'standard' && val === 'ttp') {
            b.avg[val] = convert(b.avg[val]).from('C').to('F')
          }
          return {
            name: b.name,
            data: [{
              name: b.name,
              term: term,
              value: b.avg[val] === undefined ? 0 : b.avg[val],
              forEvent: this.buildings.buildings.find(x => x.id === b.id)
            }]
          }
        });
        let self = this;
        bubData.forEach(b => {
          if (b.name.split(' ').length > 2) {
            b.name = b.name.split(' ');
            b.name[2] = '<br/>';
            b.name = b.name.join(' ');
          }
        });
        var bubChart = {
        chart: {
          type: 'packedbubble',
          height: '50%',
          backgroundColor: 'none',
        },
        title: 'Buildings',
        tooltip: {
          useHTML: true,
          pointFormat: '<b>{point.name}:</b> {point.value} {point.term}'
        },
        legend: false,
        plotOptions: {
          series: {
            cursor: 'pointer',
            point: {
              events: {
                click(){
                  self.toBldg(this.forEvent)
                }
              }
            }
          },
            packedbubble: {
                minSize: '40%',
                maxSize: '120%',
                zMax: 600,
                layoutAlgorithm: {
                    splitSeries: false,
                    gravitationalConstant: 0.1,
                    bubblePadding: 4,
                    friction: 0.1
                },
                dataLabels: {
                  useHTML: true,
                  enabled: true,
                  format: `<span style="font-size:1.6em;">{point.value} {point.term}</span><br />{point.name}`,
                  align: 'center',
                  style: {
                      color: 'lightblue',
                      textOutline: 'black',
                      fontWeight: 'normal',
                      fontSize: '10px'

                  }
              }
            }
        },
        credits: false,
        series: bubData
      };
      if (this.mobile) {
        bubChart.chart.height = '100%';
      }
      this.target = Highcharts.chart('bub-chart', bubChart);
      } else {

      }
    },

    toBldg(e){
      this.$router.push({
        name: 'Building',
        params: {
          bldg: e,
          tkn: this.tkn,
          onboard: false,
          devices: this.devices
        }
      });
    },

    initNewBldg(event){
      if (event){
        this.onboard = false;
      } else {
        this.onboard = this.onboard === true
          ? false
          : true;
      }
      this.initReload();
    },

    initBundleData(bundle){
      this.bundle = bundle;
      this.tkn = this.$cookies.get('breeziProTkn');
      this.buildings = this.bundle.buildings;
    },

    initReload(){
      Rest.getOrgBundle(this.$cookies.get('breeziProTkn'))
        .then(bundle => {
          bundle = bundle.data;
          this.bundle = Bundle.formatBundle(bundle);
          this.buildings = this.bundle.buildings;
          this.tkn = this.$cookies.get('breeziProTkn');
          const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle';
          let headers = {
            headers: {
              Authorization: this.$cookies.get('breeziProTkn'),
              'Content-Type': 'application/json'
            }
          };
          Rest.getTeam(headers)
            .then(team => {
              this.$emit('updateNav', {org: this.bundle, type: 'org', team: team});
              this.popBubbles('days');
            })
        });
    }

  },
  mounted(){
    this.orgIndex = 0;
    this.units = this.$cookies.get('breeziUnits');
    try {
      this.initBundleData(this.$route.params.bundle);
      this.popBubbles('days');
      if (this.buildings.length < 1) {
        throw(null);
      }
      if (!this.buildings.buildings) {
        throw(null);
      }
      this.$emit('updateNav', {org: this.bundle, type: 'org'});
    } catch(err) {
      try {
        this.initReload();
      } catch(err) {
        alert('Your session has expired. Please log in again');
        this.$emit('expiredOrInvalid');
      }
    }
  },
}

</script>

<style>

.bub-outer {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 153, 191, 0.15);
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
}

.bub-header {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 153, 191, 0.15);
}

.bub-body {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
