<template>
  <div class="org-outer">
    <main class="org-mobile" v-if="mobile && !onboard">
      <div class="mobile-bldg" v-for="(b, index) in bldgs" @click="navBldg(b)">
        <div class="mobile-bldg-title">
          <div class="b-title">
            <h3>{{b.name}}</h3>
            <h6>{{b.city}}, {{b.country}}</h6>
          </div>
          <div class="mobile-bldg-alerts">
            <h5 style="color:#00b5d9;">{{b.floors.length}} floors</h5>
          </div>
        </div>
        <div class="mobile-bldg-icons">
          <img class="mobile-bldg-icon" :src="parseThresh('days', b).url" />
          <img style="width:6%;" class="mobile-bldg-icon" :src="parseThresh('ttp', b).url" />
          <img style="width:6%;" class="mobile-bldg-icon" :src="parseThresh('hhm', b).url" />
          <img class="mobile-bldg-icon" :src="parseThresh('iaq', b).url" />
          <img style="width:7.5%;" class="mobile-bldg-icon" :src="parseThresh('co2', b).url" />
        </div>
      </div>
      <div class="mobile-bldg mobile-add-bldg" style="border:1px solid gray;" @click="initNewBldg()">
        <h3>New Building</h3>
        <h1 style="font-size:40px;margin:0;font-family:sans-serif;">+</h1>
      </div>
    </main>

    <new-bldg-component v-if="onboard" :tkn="tkn" v-on:resetOrg="initNewBldg($event)"></new-bldg-component>

  </div>
</template>

<script>

import Bundle from '@/src/bundle';
import Rest from '@/src/rest';

import New from '@/components/onboard/Building';

export default {
  data(){
    return {
      mobile: false,
      bundle: {},
      bldgs: [],
      tkn: '',
      onboard: false,
      devices: [],
      units: ''
    }
  },
  components: {
    'new-bldg-component': New
  },
  methods: {
    parseThresh(prop, bldg){
      let thresh = 'active';
      try {
        if (bldg.alerts[prop].crit > 0) {
          thresh = 'crit';
        } else if (bldg.alerts[prop].bad > 0) {
          thresh = 'bad';
        } else {
          if (bldg.avg[prop] === '-') {
            thresh = 'active'
          } else {
            thresh = 'good';
          }
        }
      } catch(err) {

      }
      switch (prop) {
        case 'days':
          switch (thresh) {
            case 'good':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/goodDays.png', color: '#96fa87'};
            break;
            case 'bad':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/badDays.png', color: '#f6d857'};
            break;
            case 'crit':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/critDays.png', color: '#f32b43'};
            break;
            default:
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/days.png', color: 'white'};
          }
        break;
        case 'iaq':
          switch (thresh) {
            case 'good':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvocGood.png', color: '#96fa87'};
            break;
            case 'bad':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvocBadY.png', color: '#f6d857'};
            break;
            case 'crit':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvocCrit.png', color: '#f32b43'}
            break;
            default:
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvoc.png', color: 'white'};
          }
        break;
        case 'ttp':
          switch (thresh) {
            case 'good':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/goodTtp.png', color: '#96fa87'};
            break;
            case 'bad':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/badTtp.png', color: '#f6d857'};
            break;
            case 'crit':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/critTtp.png', color: '#f32b43'}
            break;
            default:
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/ttp.png', color: 'white'};
          }
        break;
        case 'hhm':
          switch (thresh) {
            case 'good':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/goodHhm.png', color: '#96fa87'};
            break;
            case 'bad':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/badHhm.png', color: '#f6d857'};
            break;
            case 'crit':
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/critHhm.png', color: '#f32b43'}
            break;
            default:
              return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hhm.png', color: 'white'};
          }
        break;
        case 'co2':
            return {url: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/co2.png', color: 'white'};
        break;
      }
    },
    navBldg(bldg){
      if (bldg.id === null) {
        alert('This building is still initializing. If you see this message again, try logging out and back in');
      }
      localStorage.setItem('lastBreeziBldg', JSON.stringify({tms: Date.now(), data: bldg}));
      this.$router.push({
        name: 'Building',
        params: {
          bldg: bldg,
          tkn: this.tkn,
          onboard: false
        }
      })
    },
    initNewBldg(event){
      if (event) {
        this.onboard = false;
      } else {
        this.onboard = this.onboard === true
          ? false
          : true;
      }
      this.initReload();
    },
    initBundleData(bundle){
      this.bundle = bundle;
      this.bldgs = this.bundle.buildings.buildings;
      this.tkn = this.$cookies.get('breeziProTkn');
    },
    initReload(){

      Rest.getOrgBundle(this.$cookies.get('breeziProTkn'))
        .then(bundle => {
          bundle = bundle.data;
          this.bundle = Bundle.formatBundle(bundle);
          this.buildings = this.bundle.buildings;
          this.tkn = this.$cookies.get('breeziProTkn');
          this.initBundleData(bundle);
          const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle';
          let headers = {
            headers: {
              Authorization: this.$cookies.get('breeziProTkn'),
              'Content-Type': 'application/json'
            }
          };
          Rest.getTeam(headers)
            .then(team => {
              this.$emit('updateNav', {org: this.bundle, type: 'org', team: team});
              this.screenSize = window.innerWidth;
              this.mobile = this.screenSize <= 500
                ? true
                : false;
            })
        });
    }
  },
  mounted(){
    this.units = this.$cookies.get('breeziUnits');
    this.screenSize = window.innerWidth;
    this.mobile = this.screenSize <= 500
      ? true
      : false;
    try {
      this.initBundleData(this.$route.params.bundle);
      this.$emit('updateNav', {org: this.bundle, type: 'org'});
    } catch(err) {
      try {
        this.initReload();
      } catch(err) {
        alert ('Your session has expired. Please log in again');
        this.$emit('expiredOrInvalid');
      }
    }
  },
  watch: {
    'screenSize': function(newData, oldData){
      this.mobile = this.screenSize <= 500
        ? true
        : false;
    }
  }
}

</script>

<style>

.org-outer {
  width: 100%;
  padding-top: 30px;
  height: 100%;
  overflow-y: scroll;
  /* flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  /* margin-top: 130px; */
}

.org-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 130px;
}

.mobile-bldg {
  width: 96vw;
  height: 180px;
  background-color: white;
  margin-bottom: 15px;
  background-color: #08475b;
  border-radius: 2px;
  border: 1px solid rgba(0, 153, 191);
}

.mobile-bldg-title {
  display: flex;
  height: 40%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 2px;
  border-bottom: 1px solid #636968;
  padding-bottom: 7px;
}

.mobile-bldg h3 {
  padding-top: 10px;
  margin: 0;
  font-size: 18px;
}

.mobile-bldg h6 {
  margin: 0;
}

.mobile-bldg-icons {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-bldg-icon {
  width: 8%;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-bldg-alerts {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-right: 8px;
}

.onboard-btns {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-bldg-alerts img {
  width: 30%;
  height: auto;
  margin-left: 15px;
}

.mobile-add-bldg {
  background-color: #525559;
  /* background: linear-gradient(to bottom, #525559, #3b3d3f); */
  height: 90px;
  padding-top: 5px;
}

</style>
