<template>
  <section class="login-outer" style="position:relative;">
    <header class="panel-header">
      <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/Login.png" />
      <h2 :style="{'color': 'loginColor'}">{{loginMsg}}</h2>
    </header>
    <form class="login-form" v-if="!newPw">
      <input class="onboard-input" v-model="loginEmail" name="login-email" v-on:keyup.enter="enterLogin()"/>
      <label for="login-email">Email</label>
      <input class="onboard-input" :type="showLogin" v-model="loginPw" name="login-pw" v-on:keyup.enter="enterLogin()"/>
      <label class="hide-show-pw" for="login-pw">
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/001-view.png" v-if="showLogin === 'password'" @click="showHidePw()"/>
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/002-private.png" v-if="showLogin === 'text'" @click="showHidePw()"/>
      </label>
      <label for="login-pw">Password</label>
    </form>
    <form class="login-form" v-if="newPw">
      <input class="onboard-input" v-model="udPw" type="password" name="new-pw" v-on:keyup.enter="enterChangePw()"/>
      <label for="new-pw">New Password</label>
      <input class="onboard-input" v-model="confPw" type="password" name="conf-pw" v-on:keyup.enter="enterChangePw()"/>
      <label for="conf-pw">Confirm</label>
    </form>
    <div class="splash-panel" v-if="!newPw">
      <a class="back-btn" id="login-back" @click="back()">Back</a>
      <a class="splash-btn" style="justify-content:center;height:40px;" id="login-sub" @click="login()" v-if="validate()">Submit</a>
    </div>
    <div class="splash-panel" v-if="newPw">
      <a class="back-btn" id="login-back" @click="back()">Back</a>
      <a class="splash-btn" style="justify-content:center;height:40px;"  @click="changePw()" v-if="newValidate()">Submit</a>
    </div>
  </section>
</template>

<script>

import Cognito from '@/src/cognito';

export default {
  data(){
    return {
      newPw: false,
      loginEmail: '',
      loginPw: '',
      loginMsg: 'Login',
      loginColor: '#dfe2ea',
      udPw: '',
      confPw: '',
      showLogin: 'password'
    }
  },
  methods: {
    validate(){
      return (this.loginEmail !== '' && this.loginPw !== '' && this.loginEmail.includes('@'))
    },
    login(){
      Cognito.login(this.loginEmail, this.loginPw)
        .then(tkn => {
          this.$cookies.set('breeziProTkn', tkn);
          this.succeedLogin(tkn);
        }, tknErr => {
          if (tknErr === 'change password') {
            this.loginMsg = 'Password change required';
            this.loginColor = 'orange';
            this.newPw = true;
          } else {
            this.loginMsg = 'Credentials invalid';
            this.loginColor = '#ca5150';
            this.loginEmail = '';
            this.loginPw = '';
          }
        })
    },
    newValidate(){
      return (this.udPw !== '' && this.confPw !== '' && this.udPw === this.confPw);
    },
    changePw(){
      let hasNumber = /\d/;
      let hasChar = !/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g;
      if (!hasNumber.test(this.newPw) || !hasChar.test(this.newPw) || !/[a-z]/g.test(this.newPw)) {
        alert('Your selected password must include at least one number, one special character, one lowercase character, and one uppercase character');
        this.newPw = '';
        this.confPw = '';
      }
      Cognito.login(this.loginEmail, this.loginPw, this.udPw)
        .then(tkn => {
          this.$cookies.set('breeziProTkn', tkn);
          this.succeedLogin(tkn);
        }, newErr => {
          this.loginMsg = 'Unable to confirm user';
          this.loginColor = '#ca5150';
          this.udPw = '';
          this.confPw = '';
        })
    },
    succeedLogin(tkn){
      this.$emit('fromLogin', tkn);
    },
    back(){
      this.$emit('fromLogin', null);
    },
    enterLogin(){
      if (this.validate()){
        this.login();
      }
    },
    enterChangePw(){
      if (this.newValidate()) {
        this.changePw();
      }
    },
    showHidePw(){
      this.showLogin = this.showLogin === 'password'
        ? 'text'
        : 'password';
    }
  }
}

</script>

<style>

.hide-show-pw {
  position: absolute;
  bottom: 38%;
  right: 10%;
}

.hide-show-pw img {
  cursor: pointer;
  width: 12%;
}

</style>
