<template>
  <section class="login-outer">
    <header class="panel-header">
      <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/Access.png" />
      <h3>{{masterMsg}}</h3>
    </header>
    <form class="login-form" v-if="step === 0">
      <input class="onboard-input" v-model="masterEmail" name="master-email" />
      <label for="master-email">Email</label>
      <input class="onboard-input" v-model="orgName" name="org-name"/>
      <label for="org-name">Organization</label>
    </form>
    <div class="splash-panel" v-if="step === 0">
      <a class="back-btn" @click="back()">Back</a>
      <a class="splash-btn" v-if="validMaster()" style="justify-content:center;height:40px;"  @click="nextStep()">Next</a>
    </div>
    <form class="login-form" v-if="step === 1">
      <input class="onboard-input" v-model="firstName" name="first-name" />
      <label for="first-name">First Name</label>
      <input class="onboard-input" v-model="lastName" name="last-name"/>
      <label for="last-name">Last Name</label>
    </form>
    <div class="splash-panel" v-if="step === 1">
      <a class="back-btn" @click="back()">Back</a>
      <a class="splash-btn" v-if="validNames()" style="justify-content:center;height:40px;" @click="nextStep()">Next</a>
    </div>
    <form class="login-form" v-if="step === 2">
      <input class="onboard-input" v-model="requestStreet" name="req-street" />
      <label for="req-street">Address Line 1</label>
      <input class="onboard-input" v-model="requestExt" name="req-ext" />
      <label for="req-ext">Address Line 2 (optional)</label>
    </form>
    <div class="splash-panel" v-if="step === 2">
      <a class="back-btn" @click="back()">Back</a>
      <a class="splash-btn" v-if="validStreet()" style="justify-content:center;height:40px;" @click="nextStep()">Next</a>
    </div>
    <form class="login-form" v-if="step === 3">
      <input class="onboard-input" v-model="requestCity" name="req-city" />
      <label for="req-city">City</label>
      <input class="onboard-input" v-model="requestState" name="req-state" />
      <label for="req-state">State/Province/Territory</label>
    </form>
    <div class="splash-panel" v-if="step === 3">
      <a class="back-btn" @click="back()">Back</a>
      <a class="splash-btn" v-if="validLoc()" style="justify-content:center;height:40px;" @click="nextStep()">Next</a>
    </div>
    <form class="login-form" v-if="step === 4">
      <input class="onboard-input" v-model="requestCountry" name="req-zip" />
      <label for="req-zip">Country</label>
      <input class="onboard-input" v-model="requestZip" name="req-country" />
      <label for="req-country">Postal Code</label>
    </form>
    <div class="splash-panel" v-if="step === 4">
      <a class="back-btn" @click="back()">Back</a>
      <a class="splash-btn" v-if="validZip()" style="justify-content:center;height:40px;" @click="subRequest()">Submit</a>
    </div>
  </section>
</template>

<script>

import axios from 'axios';

export default {
  data(){
    return {
      step: 0,
      masterAdmin: true,
      masterEmail: '',
      orgName: '',
      firstName: '',
      lastName: '',
      requestStreet: '',
      requestExt: '',
      requestCity: '',
      requestState: '',
      requestZip: '',
      requestCountry: '',
      masterMsg: 'We need a bit of info...'
    }
  },
  methods: {
    validMaster(){
      return (this.masterEmail !== '' && this.orgName !== '' && this.masterEmail.includes('@'));
    },
    validNames() {
      return (this.firstName !== '' && this.lastName !== '');
    },
    validStreet(){
      return this.requestStreet !== '';
    },
    validLoc(){
      return (this.requestCity !== '' && this.requestState !== '');
    },
    validZip(){
      // add validation through postal-codes on npm
      return (this.requestZip !== '' && this.requestCountry !== '');
    },
    nextStep(){
      let steps = ['Who will be your master admin?', 'Who will be your master admin?', 'Street Address', 'Location', 'Location'];
      this.step += 1;
      this.masterMsg = steps[this.step];
    },
    back(){
      this.$emit('fromRequest');
    },
    subRequest(){
      axios.post('https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/requestAccess', JSON.stringify({
        user: {
          email: this.masterEmail.trim(),
          firstName: this.firstName.trim(),
          lastName: this.lastName.trim(),
          org: this.orgName.trim(),
          phoneNumber: ' '
        },
        org: {
          name: this.orgName.trim(),
          street: this.requestStreet.trim(),
          streetExtended: this.requestExt === '' ? ' ' : this.requestExt.trim(),
          city: this.requestCity.trim(),
          state: this.requestState.trim(),
          zipCode: this.requestZip.trim(),
          country: this.requestCountry.trim()
        }
      })).then(res => {
        alert('Your request for access has been submitted to Breezi for review. Upon approval--usually within 24 hours--you will be sent an automatic email containing your temporary password.');
        this.back();
      }).catch(err => {
        let errRes;
        if (err.response.data === 'User already exists') {
          errRes = `A user with the email ${this.masterEmail.trim()} has already joined Breezi pro. If you are ${this.masterEmail.trim()}, please check your email for notifications from Breezi about your pending access.`;
        } else if (err.response.data === 'Organization already exists') {
          errRes = `An organization with the name ${this.orgName.trim()} has already been registered with Breezi Pro. If your organization has not yet joined and this is a possible error, please contact Breezi support directly at support@breezi.io`;
        } else {
          errRes = 'There was a problem submitting your request. please try again.';
        }
        alert(errRes);
        this.step = 0;
      })
    }
  }
}

</script>
