<template>
  <section class="ob-form">
    <div class="ob-header" v-if="!loading">
      <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/company.png" />
      <h4>Add Building</h4>
    </div>
    <div class="ob-progress" v-if="!loading">
      <div v-for="step in steps" :class="activeObStep(step.step)" :style="{'width': `${100/steps.length}%`}" @click="navProg(step.step)">
        <h6>{{step.title}}</h6>
        <div class="ob-node-bulb">
          <h3 v-if="activeObStep(step.step) === 'ob-node ob-finished-node'" style="color:#767584;">✓</h3>
        </div>
      </div>
    </div>
    <form class="ob-content" v-if="counter === 0">
      <input class="ob-input" name="bldg-name" v-model="bldgName"/>
      <label for="bldg-name">Building name</label>
      <h3 style="color:#767584;">Floors</h3>
      <div class="ob-sidebyside">
        <div class="mini-ob-panel" style="margin-right:10%;">
          <input class="mini-ob-input" name="above-ground" v-model="aboveGround" placeholder="#"/>
          <label for="above-ground">Above ground</label>
        </div>
        <div class="mini-ob-panel" style="margin-left:10%;">
          <input class="mini-ob-input" name="below-ground" v-model="belowGround" placeholder="#"/>
          <label for="below-ground">Below ground</label>
        </div>
      </div>
      <h3 style="color:#767584;">Building type</h3>
      <ul class="ob-selector-list">
        <li class="ob-selector" v-if="!nonTypes.includes('hotel')" @click="setBType('hotel')">
          <h5>Hotel</h5>
        </li>
        <li class="ob-selector" v-if="!nonTypes.includes('apartments')" @click="setBType('apartments')">
          <h5>Apts/Condos</h5>
        </li>
        <li class="ob-selector" v-if="!nonTypes.includes('office')" @click="setBType('office')">
          <h5>Office</h5>
        </li>
      </ul>
    </form>
    <form class="ob-content" v-if="counter === 1">
      <input class="ob-input" name="bldg-street" v-model="bldgStreet"/>
      <label for="bldg-street">Address line 1</label>
      <input class="ob-input" name="bldg-street-ext" v-model="bldgStreetExt"/>
      <label for="bldg-street-ext">Address line 2 (optional)</label>
      <div class="ob-sidebyside">
        <div class="mini-ob-panel" style="margin-right:10%;">
          <input class="mini-ob-input" name="city" v-model="bldgCity"/>
          <label for="city">City</label>
        </div>
        <div class="mini-ob-panel" style="margin-left:10%;">
          <input class="mini-ob-input" name="state" v-model="bldgState"/>
          <label for="state">State/Province (optional)</label>
        </div>
      </div>
    </form>
    <form class="ob-content" v-if="counter === 2">
      <input class="ob-input" name="zip" v-model="bldgZip"/>
      <label for="zip">Postal code</label>
      <input class="ob-input" name="find-country" v-model="countryInput"/>
      <label for="find-country">Lookup country</label>
      <div class="ob-sidebyside">
        <div class="ob-selector-list" style="height: 200px;margin-bottom:20px;margin-top:10px;">
          <li v-for="country in countryList" class="ob-selector" @click="setCountry(country)" style="height:50px;overflow-y:scroll;display:flex;flex-direction:column;justify-content:center;">
            <h6>{{country.name}}</h6>
          </li>
        </div>
      </div>
    </form>
    <form class="ob-content" v-if="counter === 3">
      <input class="ob-input" name="find-city" v-model="cityInput"/>
      <label for="find-city">Major city nearest you</label>
      <div class="ob-sidebyside">
        <div class="ob-selector-list" style="height: 200px;margin-bottom:20px;margin-top:10px;">
          <li v-for="city in cities" class="ob-selector" @click="setCity(city)" style="height:50px;overflow-y:scroll;display:flex;flex-direction:column;justify-content:center;">
            <h6>{{city}}</h6>
          </li>
        </div>
      </div>
    </form>
    <div class="ob-content" v-if="counter === 4" style="justify-content:flex-start;">
      <div class="ob-selector-list">
        <div class="summary-panel">
          <div class="summary-header">
            <h5>Building Name</h5>
          </div>
          <div class="summary-body">
            <h5>{{bldgName}}</h5>
          </div>
        </div>
        <div class="summary-panel">
          <div class="summary-header">
            <h5>Floors</h5>
          </div>
          <div class="summary-body">
            <h5>Above Ground: {{aboveGround}}</h5>
            <h5>Below Ground: {{belowGround}}</h5>
          </div>
        </div>
        <div class="summary-panel">
          <div class="summary-header">
            <h5>Address</h5>
          </div>
          <div class="summary-body">
            <h5>{{bldgStreet}}</h5>
            <h5 v-if="bldgStreetExt !== ''">{{bldgStreetExt}}</h5>
          </div>
        </div>
        <div class="summary-panel">
          <div class="summary-header">
            <h5>City</h5>
          </div>
          <div class="summary-body">
            <h5>{{bldgCity}}</h5>
          </div>
        </div>
        <div v-if="bldgState !== ''" class="summary-panel">
          <div class="summary-header">
            <h5>State/Prov</h5>
          </div>
          <div class="summary-body">
            <h5>{{bldgState}}</h5>
          </div>
        </div>
        <div class="summary-panel">
          <div class="summary-header">
            <h5>Postal Code</h5>
          </div>
          <div class="summary-body">
            <h5>{{bldgZip}}</h5>
          </div>
        </div>
        <div class="summary-panel">
          <div class="summary-header">
            <h5>Country</h5>
          </div>
          <div class="summary-body">
            <h5>{{bldgCountry}}</h5>
          </div>
        </div>
        <div class="summary-panel">
          <div class="summary-header">
            <h5>Major City</h5>
          </div>
          <div class="summary-body">
            <h5>{{city}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="ob-btns" v-if="!loading">
      <div class="ob-nav-btn">
        <a v-if="counter > 0" style="background-color:#ff8c00;" class="ob-btn" @click="counter--"><h5>Back</h5></a>
      </div>
      <div class="ob-nav-btn">
        <a style="background-color:#c22f32;" class="ob-btn" @click="goBack()"><h5>Cancel</h5></a>
      </div>
      <div class="ob-nav-btn" v-if="!allData()" style="opacity:0"><a></a></div>
      <div class="ob-nav-btn" v-if="allData()">
        <a style="background-color:#33991f;" class="ob-btn" @click="progress()"><h5>{{counter === 4 ? 'Submit' : 'Next'}}</h5></a>
      </div>
    </div>
    <loading-component v-if="loading" style="height:100%;width:100%;position:relative;"></loading-component>
  </section>
</template>

<script>

import Loading from '@/components/util/Loading';

import countries from '@/lib/countries';
import Util from '@/src/util';
import Rest from '@/src/rest';

export default {

  data(){
    return {
      steps: [
        {
          step: 0,
          title: 'General'
        },
        {
          step: 1,
          title: 'Address'
        },
        {
          step: 2,
          title: 'Address 2'
        },
        {
          step: 3,
          title: 'Locale'
        },
        {
          step: 4,
          title: 'Summary'
        }
      ],
      nonTypes: [],
      newBldgTitle: 'Adding new building...',
      bldgName: '',
      bldgType: '',
      aboveGround: '',
      belowGround: '',
      bldgStreet: '',
      bldgStreetExt: '',
      counter: 0,
      bldgCity: '',
      bldgState: '',
      bldgZip: '',
      bldgCountry: 'Country',
      nextText: 'Next',
      countryInput: '',
      cityInput: '',
      countryList: [],
      cities: [],
      city: '',
      showCountries: false,
      showCities: false,
      countryName: '',
      citySet: false,
      showTypes: false,
      screenSize: 0,
      mobile: false,
      progNodes: [
        'General',
        'Address',
        'Address 2',
        'Locale'
      ],
      progCounter: 0,
      loading: false
    }
  },
  props: ['tkn'],
  components: {
    'loading-component': Loading
  },
  methods: {

    activeObStep(s){
      if (s === this.counter) {
        return 'ob-node ob-active-node';
      } else if (s > this.counter) {
        return 'ob-node';
      } else {
        return 'ob-node ob-finished-node';
      }
    },
    allData(){
      switch (this.counter) {
        case 0:
          let result = ['bldgName', 'aboveGround', 'belowGround', 'bldgType'].every(p => this[p] !== '');
          return result;
        break;
        case 1:
          return this.bldgStreet !== '' && this.bldgCity !== '';
        break;
        case 4:
          return true;
        break;
        default:
          return false;
      }
    },
    hasProp(p){
      return this[p] !== '';
    },
    goBack(){
      this.$emit('resetOrg');
    },
    setBType(type){
      this.bldgType = type;
      this.nonTypes = ['hotel', 'apartments', 'office'].filter(t => t !== type);
    },

    assessNextVis(){
      let self = this;
      switch (this.counter) {
        case -1:
          return (['bldgName', 'aboveGround'].every(notBlank) === true && !isNaN(this.aboveGround) && !isNaN(this.belowGround) && this.bldgType !== 'Type')
            ? true
            : false;
        break;
        case 0:
          return ['bldgStreet'].every(notBlank) === true
            ? true
            : false;
        break;
        case 1:
          return ['bldgCity', 'bldgZip', 'bldgName', 'country', 'countryName'].every(notBlank) === true
            ? true
            : false;
        break;
        case 2:
          return this.city === ''
            ? false
            : true;
        break;
      }
      function notBlank(i){
        return self[i] !== '';
      }
    },
    progress(){
      this.counter ++;
      if (this.counter === 5) {
        this.postBldg();
      }
    },
    openTypes(){
      this.showTypes = true;
    },
    openCountries(){
      this.showCountries = this.showCountries === true
        ? false
        : true;
    },
    openCities(){
      this.showCities = this.showCities === true
        ? false
        : true;
      this.progress();
    },
    setType(t){
      this.bldgType = t;
      this.showTypes = false;
      this.progress();
    },
    setCountry(c){
      this.countryName = c.name;
      this.country = c.iso2;
      this.bldgCountry = this.countryName;
      this.cities = Util.matchCity(this.countryName, '');
      this.showCountries = false;
      this.progress();
    },
    setCity(c){
      this.city = c;
      this.citySet = true;
      this.progress();
    },
    postBldg(){
      try {
        let bldg = {
          name: this.bldgName,
          street: this.bldgStreet,
          streetExtended: this.bldgStreetExt || ' ',
          city: this.city,
          state: this.bldgState || ' ',
          country: this.country,
          zipCode: this.bldgZip,
          aboveGround: parseInt(this.aboveGround),
          belowGround: parseInt(this.belowGround),
          type: this.bldgType,
          altCity: this.bldgCity
        }
        this.loading = true;
        setTimeout(() => {
          Rest.postBldg(bldg, this.$cookies.get('breeziProTkn'))
            .then(newBldg => {
              this.loading = false;
              this.$emit('resetOrg', newBldg);
            }, err => {
              throw null;
            });
        }, 5000);
      } catch(err) {
        this.$emit('resetOrg', null);
      }
    },
    assessWidth(){
      if (this.mobile) {
        return 'onboard-form'
      } else {
        return 'onboard-form onboard-web'
      }
    },
    nodeClass(i){
      if (this.progCounter === i) {
        return 'prog-node prog-active';
      } else if (this.progCounter > i) {
        return 'prog-node prog-past';
      } else {
        return 'prog-node prog-inactive';
      }
    },
    navProg(i){
      this.counter = i;
    }
  },
  mounted(){
    this.screenSize = window.innerWidth;
    this.mobile = this.screenSize <= 500
      ? true
      : false;
  },
  watch: {
    'countryInput': function(newData, oldData){
      this.countryList = Util.matchCountry(newData);
    },
    'cityInput': function(newData, oldData){
      this.cities = Util.matchCity(this.countryName, newData);
    }, deep: true
  }
}

</script>

<style>

.ob-form {
  height: 650px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0, 153, 191, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.ob-header {
  width: 100%;
  height: 12%;
  background-color: rgb(0, 153, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ob-header img {
  height: 50%;
  width: auto;
  margin-right: 5%;
}

.ob-progress {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ob-node {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ob-finished-node {
  cursor: pointer;
  border-radius: 100%;
}

.ob-node h6 {
  color: lightblue;
}

.ob-active-node h6 {
  color: rgb(0, 153, 191);
}

.ob-node-bulb {
  width: 30px;
  height: 30px;
  border: 2px solid #767584;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
}

.ob-active-node .ob-node-bulb {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 153, 191);
  border: none;
}

.ob-finished-node .ob-node-bulb {
  background-color: #56e248;
  border: 1px solid #56e248;
}

.ob-finished-node h6 {
  color: #56e248;
}

.ob-content {
  height: 60%;
  width: 100%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ob-input {
  width: 350px;
  max-width: 90%;
  font-size: 1.4em;
  padding-left: 2%;
  padding-right: 2%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #767584;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
}

label {
  color: #767584;
  margin-top: 8px;
  margin-bottom: 2%;
}

.ob-sidebyside {
  max-width: 90%;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.mini-ob-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini-ob-input {
  width: 100%;
  font-size: 1.4em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #767584;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  text-align: center;
}

.ob-selector-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.ob-selector {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767584;
  /* border: 1px solid #767584; */
  list-style: none;
  padding: 4px;
  background-color: #487193;
  color: white;
  /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); */
  margin: 3px;
  cursor: pointer;
}

.ob-selector:hover {
  animation: transitBlue 1s ease infinite;
}

@keyframes transitBlue {
  100% {
    background-color: rgba(0, 153, 191);
    border: 1px solid rgb(0, 153, 191);
  }
}

::placeholder {
  color: lightgray;
}

.ob-btns {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3.5%;
  padding-right: 3.5%;
  margin-bottom: 3.5%;
}

.ob-btn {
  /* width: 8%;
  height: 100%; */
  height: 50px;
  width: 100px;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); */
  color: white;
  margin: 10px;
}

.ob-btn:hover {
  /* box-shadow: 0 0 5px white; */
  border-radius: 0px;
  text-decoration: none;
}

.ob-btn h2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6f2f1;
}

.ob-btn img {
  height: 60%;
  width: 60%;
}

.summary-panel {
  height: 60px;
  width: 120px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(0, 153, 191);
}

.summary-header {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 153, 191);
  color: white;
}

.summary-body {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-panel h5 {
  margin: 0;
}

/* .onboard-form {
  width: 100%;
  height: 100%;
  background-color: rgba(53, 143, 240, 0.12);
  border: 1px solid #35b7f0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboard-web {
  width: 50%;
  height: 95%;
}

#building-onboard-header {
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* background-image: url('https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tiltBldg.jpg'); */
/* }

.country-list {
  height: 300px;
  width: 82%;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.country {
  width: 100%;
  font-size: 1.3em;
  line-break: auto;
  text-align: left;
  margin-top: 10px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.dark-overlay-onboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.onboard-btns {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

</style>
