<template>

<section class="card-front">
  <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/gearsWhite.png" style="height:30px;" class="bldg-config-card" @click="initFlip({from: 'center', to: 'options'})" />
  <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/expand.png" v-if="multi === true" style="height:26px;width:26px;position:absolute;top:15px;right:12px;cursor:pointer;" @click="toRoom()">
  <div class="status-bar" :style="{'background': calcStatus()}"></div>
  <div class="card-header">
    <h3>{{room.hvacName}}</h3>
    <h4 style="color:#35b7f0;width:100%;text-align:left">{{bName}}</h4>
  </div>
  <div class="card-section">
    <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/acHeart.png" class="card-section-lead" />
    <div class="rdgs-section">
      <div class="rdg-half">
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/filterOfficial.png" />
        <h3 :style="{'color': colorStatus('days')}" style="margin:0;">{{(room.rdgs && room.rdgs.days) ? room.rdgs.days : '-'}}</h3>
        <h5 style="margin:0;padding-left:10px;padding-right:10px;">Day{{(room.rdgs && room.rdgs.days && room.rdgs.days === 1) ? '' : 's'}} remaining</h5>
      </div>
      <div class="rdg-divider"></div>
      <div class="rdg-half" style="padding: 2px;">
        <h5>Projected<br />Maintenance</h5>
        <h5 v-if="setDate() !== 'Invalid date'" :style="{'color': colorStatus('days')}">{{setDate().split(',')[0]}}<br />{{setDate().split(',')[1]}}</h5>
        <h5 v-else>Learning...</h5>
      </div>
    </div>
  </div>
  <div class="card-section">
    <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/airHeart.png" class="card-section-lead" />
    <div class="rdgs-section">
      <div class="rdg-half">
        <div class="rdg-quarter">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/temp.png" />
          <h5 :style="{'color': colorStatus('ttp')}">{{room.rdgs.ttp}}˚C</h5>
        </div>
        <div class="rdg-quadsect"></div>
        <div class="rdg-quarter">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hum.png" />
          <h5 :style="{'color': colorStatus('hhm')}">{{room.rdgs.hhm}}%</h5>
        </div>
      </div>
      <div class="rdg-divider"></div>
      <div class="rdg-half" style="padding: 2px;">
        <div class="rdg-quarter">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvoc.png" />
          <h5 :style="{'color': colorStatus('iaq')}">{{room.rdgs.iaq}}</h5>
        </div>
        <div class="rdg-quadsect"></div>
        <div class="rdg-quarter">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/eCO2Text.png" />
          <h5 :style="{'color': colorStatus('co2'), 'overflow-x': 'scroll'}">{{room.rdgs.co2}}<span style="font-size:0.5em;">ppm</span></h5>
        </div>
      </div>
    </div>
  </div>
  <nav class="flip-nav">
    <div class="flip-nav-center"></div>
    <div class="flip-nav-nodes">
      <h3 class="flip-nav-two flip-nav-inactive" @click="initFlip({from: 'center', to: 'left'})">2</h3>
      <h3 class="flip-nav-one flip-nav-active">1</h3>
      <h3 class="flip-nav-three flip-nav-inactive" @click="initFlip({from: 'center', to: 'right'})">3</h3>
    </div>
  </nav>
  <h6 class="updated">Last update: {{room.updated}}</h6>
</section>

</template>

<script>

import moment from 'moment';

export default {
  data(){
    return {
      changeDate: '',
      rdgs: {},
      alerts: {},
      noRdgs: false
    }
  },
  props: ['room', 'bName', 'multi', 'tkn', 'bId', 'fName'],
  methods: {

    initFlip(dir){
      this.$emit('flipCard', dir);
    },

    calcStatus(){
      if (!this.room.rdgs || Object.keys(this.room.rdgs).every(this.isLearning)) {
        return '#0099bf';
      } else {
        let crit = false;
        let bad = false;
        for (let prop in this.room.alerts) {
          if (this.room.alerts[prop].crit > 0) {
            crit = true;
          } else if (this.room.alerts[prop].bad > 0) {
            bad = true;
          }
        }
        if (crit === true) {
          return '#bb2437';
        } else if (bad === true) {
          return '#d9be17';
        } else {
          return '#73c269';
        }
      }
    },

    setDate(){
      let now = Math.round(Date.now()/1000);
      if (this.room.rdgs.days === '-') {
        return 'Learning...';
      } else {
        let date = now + (86400 * this.room.rdgs.days);
        return moment(date * 1000).format('LL');
      }
    },

    colorStatus(r){
      if (this.isLearning(r)) {
        return '#0099bf';
      } else {
        if (this.room.alerts[r].crit > 0) {
          return '#bb2437';
        } else if (this.room.alerts[r].bad > 0) {
          return '#d9be17';
        } else {
          return '#73c269';
        }
      }
    },

    isLearning(prop){
      try {
        return this.room.rdgs[prop] == '-';
      } catch(err) {
        return true;
      }
    },
    toRoom(){
      this.$router.push({
        name: 'WebRoom',
        params: {
          tkn: this.tkn,
          room: this.room,
          bName: this.bName,
          bId: this.bId,
          fName: this.fName
        }
      })
    }

  },
  mounted(){
  }
}

</script>

<style>

.card-front {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
}

.status-bar {
  width: 100%;
  height: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.inactive-status {
  background-color: rgba(0, 153, 191);
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8px;
}

.card-header-h3 {
  margin-bottom: 0;
}

.card-header h4 {
  margin: 0;
}

.card-section {
  height: 28%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0d1a2c;
  margin-top: 10px;
  border-bottom: 1px solid #122034;
  border-right: 1px solid #122034;
}

.card-section img {
  width: 35px;
  height: auto;
}

.rdgs-section {
  width: 75%;
  height: 90%;
  border: 0.1px solid #e1dceb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rdg-half {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rdg-divider {
  width: 1px;
  height: 60%;
  background-color: #e1dceb;
}

.rdg-half img {
  height: 30%;
  width: auto;
}

.rdg-quarter {
  width: 80%;
  height: 49%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 4px;
}

.rdg-quarter img {
  margin-right: 15px;
  width: 20px;
  height: auto;
  margin-bottom: 0;
}

.rdg-quarter h5 {
  font-size: 19px;
}

.rdg-quadsect {
  width: 70%;
  height: 1px;
  background-color: #e1dceb;
}

.bldg-config-card {
  position: absolute;
  right: 10px;
  top: 48px;
  border: 2px solid white;
  border-radius: 100%;
  padding: 3px;
  cursor: pointer;
}

.bldg-config-card:hover {
  box-shadow: 0 0 12px white;
}

h5::-webkit-scrollbar {
  height: 1px;
}

</style>
