<template>
  <div class="chart-outer">
    <h4 style="color:#dd1d24;position:absolute;width:100%;height:100%;dispaly:flex;justify-content:center;font-size:2em;margin-top:10%;" v-if="!isAsync">SAMPLE DATA: Your devices will begin trending within a few days</h4>
    <div style="opacity:60%;" id="trends-chart"></div>
  </div>
</template>

<script>

import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
More(Highcharts);

export default {

  data(){
    return {

    }
  },
  props: ['series', 'categories', 'multi', 'isAsync'],
  methods: {
    popChart(){
      let chart = {
        chart: {
          backgroundColor: 'none',
          style: {
            color: 'white'
          }
        },
        title: false,
        xAxis: {
          categories: this.categories,
          units: '{this.term}',
          style: {
            color: 'white',
            fontFamily: 'Comfortaa'
          },
          labels: {
            style: {
              color: 'white',
              fontFamily: 'Comfortaa'
            }
          }
        },
        yAxis: {
          title: false,
          labels: {
            style: {
              color: 'white',
              fontFamily: 'Comfortaa'
            }
          }
        },
        plotOptions: {
          line: {
            dataLabels: {
              useHTML: true
            }
          }
        },
        tooltip: false,
        legend: {
          itemStyle: {
            color: 'white',
            fontFamily: 'Comfortaa'
          }
        },
        credits: false,
        series: this.series
      };
      if (this.isAsync) {
        chart.tooltip = {}
      }
      this.target = Highcharts.chart('trends-chart', chart);
    }
  },
  mounted(){
    this.popChart();
  }

}

</script>

<style>

.chart-outer {
  padding-top: 3%;
  position: relative;
}

</style>
