<template>

<section class="card-left">
  <img style="width:30%;height:auto;margin-bottom:8%;" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/trends.png" />
  <h4>AirPulse trending will<br /> begin in a few days</h4>
  <nav class="flip-nav">
    <div class="flip-nav-center"></div>
    <div class="flip-nav-nodes">
      <h3 class="flip-nav-two flip-nav-active">2</h3>
      <h3 class="flip-nav-one flip-nav-inactive" @click="initFlip({from: 'left', to: 'center'})">1</h3>
      <h3 class="flip-nav-three flip-nav-inactive" @click="initFlip({from: 'left', to: 'right'})">3</h3>
    </div>
  </nav>
</section>

</template>

<script>

// import Chart from './MobileChart';
import trends from '@/src/trends';


export default {
  data(){
    return {
      series: [],
      categories: [],
      isAsync: false,
      showChart: false,
      mobile: false
    }
  },
  props: ['room', 'tkn', 'multi'],
  components: {
    // 'chart-component': Chart
  },
  methods: {

    initFlip(dir){
      this.$emit('flipCard', dir);
    },
    initChart(){
      trends.setTrends(this.$cookies.get('breeziProTkn'), this.room.id)
        .then(tData => {
          if (tData.async && this.mobile) {
            this.series = tData.series;
            this.categories = tData.categories;
            this.isAsync = tData.async;
            this.$emit('hideNav');
            this.$router.push({
              name: 'Chart',
              params: {
                series: this.series,
                categories: tData.categories,
                room: this.room,
                tkn: this.tkn,
                bName: this.bName,
                bId: this.bId
              }
            });
          } else {

          }
        })
    }

  },
  mounted(){
    this.screenSize = window.innerWidth;
    this.mobile = this.screenSize <= 500
      ? true
      : false;
    this.initChart();
    // let tData = Trends.setTrends();
    // this.series = tData.series;
    // this.categories = tData.categories;

  }
}

</script>

<style>

.card-left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobile-chart {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}

</style>
