<template>
  <div class="mobile-chart-outer">
    <div id="mobile-chart"></div>
    <div class="mobile-chart-back" @click="closeChart()">
      <h3 style="width:100%;height:100%;text-align:center;">Back</h3>
    </div>
  </div>
</template>

<script>

import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
More(Highcharts);

export default {
  data(){
    return {

    }
  },
  methods: {
    popChart(){
      let chart = {
        chart: {
          backgroundColor: 'none',
          style: {
            color: 'white'
          }
        },
        title: false,
        xAxis: {
          categories: this.categories,
          units: '{this.term}',
          style: {
            color: 'white',
            fontFamily: 'Comfortaa'
          },
          labels: {
            style: {
              color: 'white',
              fontFamily: 'Comfortaa'
            }
          }
        },
        yAxis: {
          title: false,
          labels: {
            style: {
              color: 'white',
              fontFamily: 'Comfortaa'
            }
          }
        },
        plotOptions: {
          line: {
            dataLabels: {
              useHTML: true
            }
          }
        },
        tooltip: {},
        legend: {
          itemStyle: {
            color: 'white',
            fontFamily: 'Comfortaa'
          }
        },
        credits: false,
        series: this.series
      };
      // if (this.isAsync) {
      //   chart.tooltip = {}
      // }
      this.target = Highcharts.chart('mobile-chart', chart);
    },
    closeChart(){
      this.$emit('closeMobileChart');
      screen.orientation.unlock();
      this.$router.push({
        name: 'Room',
        params: {
          room: this.room,
          tkn: this.tkn,
          bName: this.bName,
          bId: this.bId
        }
      })
    }
  },
  mounted(){
    this.$emit('hideNav');
    // screen.orientation.lock('landscape');
    this.series = this.$route.params.series;
    this.categories = this.$route.params.categories;
    this.popChart();
  }
}

</script>

<style>

.mobile-chart-outer {
  width: 90vh;
  height: 100vw;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

#mobile-chart {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.mobile-chart-back {
  width: 10%;
  height: 10%;
  background-color: #cd8f00;
  position: absolute;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 7%;
  left: 0%;
}

</style>
