<template>
  <div class="card card-right">
    <div class="mini-status-bar" :style="{'background-color': calcStatus(), 'align-self': 'flex-start'}"></div>
    <h5 style="display:flex;align-self:flex-start;margin:6px;">{{room.name}}</h5>
    <div class="equipment-body">
      <h5 class="equip-info" @click="infoEquip()">i</h5>
      <div class="img-bg" v-if="!equipInfo"></div>
      <div class="info-equip animated slideInBottom" v-if="equipInfo">
        <div class="config-span" style="height:100%;align-items:center;width:100%;overflowY:scroll;">
          <div v-for="(dat, index) in equipDat" style="height:50px;width:27%;color:white;border:1px solid white;margin:2px;justify-content:center;align-items:center;" class="config-panel">
            <p>{{dat.name}}</p>
            <p style="color:#2e2f2f;margin:0;">{{dat.sub}}</p>
          </div>
        </div>
      </div>
      <div class="belt-slider-lg">
        <div :class="active === 0 ? 'active-belt-lg' : 'inactive-belt-lg'" @click="beltPanel(0)">
          <h6>Predictive <br /> Alerts</h6>
        </div>
        <div :class="active === 1 ? 'active-belt-lg' : 'inactive-belt-lg'" @click="beltPanel(1)">
          <h6>Maintenance <br /> Events</h6>
        </div>
        <div :class="active === 2 ? 'active-belt-lg' : 'inactive-belt-lg'" @click="beltPanel(2)">
          <h6>Duty-cycle & <br /> Runtime</h6>
        </div>
      </div>
      <div class="equip-bottom">
        <div class="pred-alerts-lg" v-if="active === 0">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" style="height:80px;width:auto;" />
        </div>
        <div class="pred-alerts-lg" style="padding:0;" v-if="active === 1">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" style="height:80px;width:auto;" />
        </div>
        <div class="pred-alerts-lg" style="padding:0;" v-if="active === 2">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" style="height:80px;width:auto;" />
        </div>
      </div>
    </div>
    <nav class="flip-nav">
      <div class="flip-nav-center"></div>
      <div class="flip-nav-nodes">
        <h3 @click="initFlip({from: 'right', to: 'left'})" class="flip-nav-two flip-nav-inactive">2</h3>
        <h3 class="flip-nav-one flip-nav-inactive" @click="initFlip({from: 'right', to: 'center'})">1</h3>
        <h3 class="flip-nav-three flip-nav-active">3</h3>
      </div>
    </nav>
  </div>
</template>

<script>

  import moment from 'moment';

  export default {
    data(){
      return {
        active: 0,
        equipImage: '',
        lastUpdated: '',
        equipInfo: false,
        equipDat: []
      }
    },
    props: ['room'],
    methods: {
      assignImg(){
        if (this.room.configuration === 'vav') {
          // return 'url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/vav.png)'
        } else if(this.room.configuration === 'ptac') {
          // return 'url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/ptac2.jpg)'
        } else {
          // return `url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/${this.room.configuration}.jpg)`
        }
      },
      calcStatus(){
        if (!this.room.rdgs || Object.keys(this.room.rdgs).every(this.isLearning)) {
          return '#0099bf';
        } else {
          let crit = false;
          let bad = false;
          for (let prop in this.room.alerts) {
            if (this.room.alerts[prop].crit > 0) {
              crit = true;
            } else if (this.room.alerts[prop].bad > 0) {
              bad = true;
            }
          }
          if (crit === true) {
            return '#bb2437';
          } else if (bad === true) {
            return '#d9be17';
          } else {
            return '#73c269';
          }
        }
      },
      beltPanel(n){
        this.active = n;
      },
      infoEquip(){
        this.equipInfo = this.equipInfo === true
          ? false
          : true;
      },
      parseEquipData(){
        this.equipDat.push(
          {
            name: 'Configuration',
            sub: this.room.altConfig
          },
          {
            name: 'Manufacturer',
            sub: this.room.manufacturer
          },
          {
            name: 'Model',
            sub: this.room.modelNumber
          },
          {
            name: 'Filter Size',
            sub: this.room.altSize + ' in'
          },
          {
            name: 'Last Changed',
            sub: moment(this.room.changed).format('L')
          },
          {
            name: 'Filter Brand',
            sub: this.room.fBrand
          },
          {
            name: 'Filter Model',
            sub: this.room.fModel
          }
        )
      },
      initFlip(dir){
        this.$emit('flipCard', dir);
      },
      isLearning(prop){
        try {
          return this.room.rdgs[prop] == '-';
        } catch(err) {
          return true;
        }
      }
    },
    mounted(){
      this.assignImg();
      this.lastUpdated = moment(this.room.tms * 1000).format('LLL');
      this.parseEquipData();
    }
  }
</script>

<style>

.card-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.mini-status-bar {
  width: 20%;
  background-color: black;
  height: 6px;
  display: flex;
  align-self: flex-start;
}

.status-right {
  left: 0px;
  top: 0px;
}

.equipment-body {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img-bg {
  width: 100%;
  height: 50%;
  background-image: url('https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/fcu.png');
  background-size: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 153, 191);
}


.equipment-body img {
  width: 80%;
  height: auto;
}

.belt-slider {
  width: 100%;
  height: 15%;
  bottom: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d4859;
}

.belt-panel {
  width: 33.3%;
  height: 100%;
}

.active-belt {
  background-color: rgb(0, 153, 191);
}

.pred-alerts {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.pred-panel {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.pred-panel img {
  width: 30px;
  margin-right: 10px;
}

.equip-bottom {
  height: 50%;
}

.chart-background {
  width: 270px;
  height: 105px;
  /* background-image: url('../../assets/nighchart.png'); */
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: 6px;
}

.mini-status-bar {
  width: 20%;
  background-color: black;
  height: 6px;
  display: flex;
  align-self: flex-start;
}

.status-right {
  left: 0px;
  top: 0px;
}

.equipment-body {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.img-bg {
  width: 100%;
  height: 50%;
  background-image: url('https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/fcu.png');
  background-size: 45%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 153, 191);
}

.info-equip {
  width: 100%;
  height: 50%;
  background-color: rgb(0, 153, 191);
}

.equipment-body img {
  width: 80%;
  height: auto;
}

.belt-slider {
  width: 100%;
  height: 15%;
  bottom: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d4859;
}

.belt-panel {
  width: 33.3%;
  height: 100%;
}

.active-belt {
  background-color: rgb(0, 153, 191);
}

.pred-alerts-lg {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pred-alerts-lg img {
  margin-top: 50px;
}

.pred-panel {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.pred-panel img {
  width: 30px;
  margin-right: 10px;
}

.equip-bottom {
  height: 50%;
}

.chart-background {
  width: 270px;
  height: 105px;
  /* background-image: url('../../assets/nighchart.png'); */
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: 6px;
}

.belt-slider-lg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-belt-lg {
  width: 33.3%;
  height: 102%;
  background-color: rgb(0, 153, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.inactive-belt-lg {
  width: 33.3%;
  height: 102%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.inactive-belt-lg:hover {
  color: rgb(0, 153, 191);
}

.equip-info {
  position: absolute;
  top: 1%;
  right: 2%;
  font-size: 0.4em;
  font-family: Arial;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.equip-info:hover {
  background-color: white;
  color: rgb(0, 153, 191);
}

.config-panel {
  font-size: 10px;
  padding:8px;
}

.config-panel p {
  margin: 0;
}

.config-span {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
}

</style>
