<template>

  <main class="room-outer" :style="{'height': mobileMeas().height, 'width': mobileMeas().width}">
    <section class="scene">
      <section :class="flipper">
        <div class="card__face card face-front">
          <card-left-component v-if="front === 'left'" :room="room" v-on:flipCard="flip($event)" :bName="bName" :bId="bId"></card-left-component>
          <card-center-component v-if="front === 'center'" v-on:flipCard="flip($event)" :room="room" :bName="bName" :multi="multi" :bId="bId" :fName="fName" :tkn="tkn" v-on:roomOptions=""></card-center-component>
          <card-right-component v-if="front === 'right'" :room="room" v-on:flipCard="flip($event)"></card-right-component>
          <section class="card__face card face-front" v-if="front === 'filterChange'">
            <h3>Are you sure you want to change the filter?</h3>
            <a class="filter-btn confirm-filter" @click="sendFilter()">Confirm</a>
            <a class="filter-btn back-filter" @click="backFilter()">Cancel</a>
          </section>
          <section class="card__face card face-front" v-if="front === 'options'">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/doorWhite.png" class="bldg-config" @click="flip({from: 'options', to: 'center'})" />
            <h3 v-if="!confDel">Room options</h3>
            <h3 v-if="confDel">Are you sure?</h3>
            <a class="filter-btn delete-room" v-if="!confDel" @click="confDel = true">Delete Filter</a>
            <h3 class="filter-btn confirm-filter" v-if="confDel" @click="deleteRoom()">Confirm delete...</h3>
          </section>
        </div>
        <div class="card__face card face-back">
          <card-left-component v-if="back === 'left'" :room="room" v-on:flipCard="flip($event)" :bName="bName" :bId="bId"></card-left-component>
          <card-center-component v-if="back === 'center'" v-on:flipCard="flip($event)" :room="room" :bName="bName" :multi="multi" :bId="bId" :fName="fName" :tkn="tkn" v-on:roomOptions=""></card-center-component>
          <card-right-component v-if="back === 'right'" :room="room" v-on:flipCard="flip($event)"></card-right-component>
          <section class="card__face card face-front" v-if="back === 'filterChange'">
            <h3>Are you ready to change the filter now?</h3>
            <a class="filter-btn confirm-filter" @click="sendFilter()">Yes</a>
            <a class="filter-btn back-filter" @click="backFilter()">Not now</a>
          </section>
          <section class="card__face card face-front" v-if="back === 'options'">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/back.png" class="bldg-config-card" style="height:30px;" @click="flip({from: 'options', to: 'center'})" />
            <h3 v-if="!confDel">Room options</h3>
            <h3 v-if="confDel">Are you sure?</h3>
            <a class="filter-btn delete-room" v-if="!confDel" @click="confDel = true">Delete Room</a>
            <a class="filter-btn confirm-filter" v-if="confDel" @click="deleteRoom()">Confirm delete...</a>
          </section>
        </div>
      </section>
      <div class="change-filter" v-if="!showChange" @click="initChangeFilter()"><h5>Change Filter</h5></div>
      <div class="change-filter" v-if="showChange"><h5></h5></div>
    </section>
  </main>

</template>

<script>

import Left from './Left';
import Center from './Center';
import Right from './Right';
import Web from './WebRoom';

import Rest from '@/src/rest';
import Bundle from '@/src/bundle';

  export default {
    data(){
      return {
        front: 'center',
        back: '',
        showFront: true,
        left: '',
        right: '',
        flipper: 'card',
        room: {},
        bName: '',
        showChange: false,
        tkn: '',
        buildingId: '',
        confDel: false,
        screenSize: 0,
        mobile: false,
        floor: {}
      }
    },
    props: ['fRoom', 'fTkn', 'fBName', 'fBId', 'multi', 'fName'],
    components: {
      'card-left-component': Left,
      'card-center-component': Center,
      'card-right-component': Right,
      'web-room-component': Web
    },
    methods: {
      flip(event){
        if (this.showFront === false) {
          this.back = event.from;
          this.front = event.to;
          this.flipper = 'card';
          this.showFront = true;
        } else {
          this.back = event.to;
          this.front = event.from;
          this.flipper = 'card is-flipped';
          this.showFront = false;
        }
      },
      initChangeFilter(){
        this.showChange = true;
        this.flip({from: this.front, to: 'filterChange'});
      },
      sendFilter(){
        Rest.changeFilter(this.room.id, this.bId, this.tkn)
          .then(res => {
            alert('The filter has been changed! You should see an effect on data within an hour or two.');
            this.flip({from: 'filterChange', to: 'center'});
          }, err => {
            alert('Unable to change filter. Please try again later');
            this.flip({from: 'filterChange', to: 'center'});
          });
      },
      backFilter(){
        this.showChange = false;
        this.flip({from: 'filterChange', to: 'center'});
      },
      deleteRoom(){
        let body = JSON.stringify({id: this.room.id, buildingId: this.bId});
        Rest.deleteRoom(this.$cookies.get('breeziProTkn'), body)
          .then(res => {
            alert('Successfully deleted room. Reload the page to enable changes');
            this.flip({from: 'options', to: 'center'});
            Rest.getOrgBundle(this.$cookies.get('breeziProTkn'))
              .then(bundle => {
                bundle = bundle.data;
                bundle = Bundle.formatBundle(bundle);
                let bldg = bundle.buildings.buildings.find(b => b.id === this.$cookies.get('breeziBldg'));
                this.$router.push({
                  name: 'Building',
                  params: {
                    bldg: bldg,
                    tkn: this.$cookies.get('breeziProTkn'),
                    onboard: false
                  }
                })
              })
          }, err => {
            alert('Could not delete room');
            this.flip({from: 'options', to: 'center'});
          })
      },
      mobileMeas(){
        if (this.mobile) {
          return {width: '96%', height: '95%'};
        } else if (this.multi) {
          return {width: '300px', height: '440px'};
        }
      }
    },
    mounted(){
      this.screenSize = window.innerWidth;
      this.mobile = this.screenSize <= 500
        ? true
        : false;
      if (this.multi) this.mobile = true;
      try {
        this.room = this.$route.params.room;
        this.$cookies.set('breeziRoom', this.room.hvacName);
        this.tkn = this.$route.params.tkn || null;
        this.bName = this.$route.params.bName;
        this.bId = this.$route.params.bId;
      } catch(err) {
        if (this.fRoom && this.fRoom.hvacName) {
          this.room = this.fRoom;
          this.tkn = this.fTkn;
          this.bName = this.fBName;
          this.bId = this.fBId;
        } else {
          try {
            Rest.getOrgBundle(this.$cookies.get('breeziProTkn'))
              .then(bundle => {
                bundle = bundle.data;
                bundle = Bundle.formatBundle(bundle);
                this.tkn = this.$cookies.get('breeziProTkn');
                let bldg = bundle.buildings.buildings.find(b => b.id === this.$cookies.get('breeziBldg'));
                let floor = bldg.floors.find(f => f.name === this.$cookies.get('breeziFloor'));
                this.bName = bldg.name;
                this.bId = bldg.id;
                this.breeziNavStep = 'room';
                let roomToFind = this.$cookies.get('breeziRoom');
                let room = floor.rooms.find(r => r.hvacName === roomToFind);
                this.room = room;
                let headers = {
                  headers: {
                    Authorization: this.$cookies.get('breeziProTkn'),
                    'Content-Type': 'application/json'
                  }
                };
                Rest.getTeam(headers)
                  .then(team => {
                    this.$emit('updateNav', {type: 'floor', bldg: bldg, bundle: bundle, floor: floor, team: team});
                    this.$emit('updateNav', {type: 'room', bldg: bldg, bundle: bundle, floor: floor, room: this.room});
                    // if (!this.mobile && !this.multi || this.multi != true) {
                    if (!this.mobile && !this.multi) {
                      this.$router.push({
                        name: 'WebRoom',
                        params: {
                          tkn: this.tkn,
                          room: this.room,
                          bName: this.bName,
                          bId: this.bId,
                          fName: this.floor.name
                        }
                      })
                    }
                  });
              });
          } catch(err) {
            alert('Your session has expired. Please log in again');
            this.$emit('expiredOrInvalid');
          }
        }
      }
    },
    watch: {
    }
  }

</script>

<style>

.room-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.scene {
  width: 95%;
  height: 85%;
  perspective: 1000px;
  margin-top: 4%;
  border-radius: 4px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  background-color: #333237;
  border-radius: 2px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) */
}

.is-flipped {
  transform: rotateY(180deg);
}

.face-front {

}

.face-back {
  transform: rotateY(-180deg);
}

.flip-nav {
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 5%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-nav-center {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 153, 191);
}

.flip-nav-nodes {
  position: absolute;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.flip-nav-inactive {
  font-size: 16px;
  color: white;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 153, 191);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-nav-active {
  font-size: 25px;
  color: rgb(0, 153, 191);
  background-color: #333237;
  border: 1px solid rgb(0, 153, 191);
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.updated {
  position: absolute;
  bottom: -5px;
  left: 5px;
}

.change-filter {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0099bf;
  cursor: pointer;
}

.change-filter:hover {
  height: 15%;
}

.change-filter h5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  height: 50px;
  width: 170px;
  font-size: 0.5em;
  color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-filter {
  background-color: #73c269;
}

.back-filter {
  background-color: #bc3b29;
}

.delete-room {
  background-color: #bb2437;
}

.update-room {
  background-color: #e2942a;
}

.flip-nav-one, .flip-nav-two, .flip-nav-three {
  cursor: pointer;
}

</style>
